<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<h3>注文履歴詳細</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-6">
			<div class="row"><span class="orders">購入者   <small><%=link_to @order_information.customer.name, admin_customer_path(@order_information.customer) %></small></span></div>
			<div class="row"><span class="orders">注文日   <small><%= @order_information.created_at %></small></span></div>
			<div class="row"><span class="orders">配送先   <small><%= @order_information.shipping_postal_code %><%= @order_information.shipping_address %></br><%= @order_information.shipping_name %></small></span></div>
			<div class="row"><span class="orders">支払方法    <small><%= @order_information.method_of_payment %></small></span></div>
			<div class="row"><span class="orders">注文ステータス</span>
			<%= form_with model:@order, url: admin_order_path(@order_information) do |f|%>
				<%= f.select :status ,OrderInformation.statuses.keys.to_a, {},{include_blank: @order_information.status}  %>
				<%= f.submit '更新',class: 'btn btn-success' %>
			<% end %></div>
		</div>
	</div>
	<div class="col-lg-8">
	<table class="table">
	<tr class="active">
		<th>商品名</th>
		<th>単価（税込）</th>
		<th>数量</th>
		<th>小計</th>
		<th>製作ステータス</th>
	</tr>
		<% @order_products.each do |order_product| %>
			<tr>
				<td><%= order_product.item.name %></td>
				<td><%= include_tax(order_product.item.price) %></td>
				<td><%= order_product.count %></td>
				<td><%= include_tax(order_product.item.price) * order_product.count %></td>
				<td>
					<%= form_with model:order_product, url: admin_order_product_path(order_product) do |f|%>
						<%= f.select :making_status ,OrderProduct.making_statuses.keys.to_a, {},{include_blank: order_product.making_status} %>
						<%= f.submit '更新',class: 'btn btn-success' %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
	</div>
<div class="col-lg-4">
<dl class="dl-horizontal orders">
	<dt>商品合計</dt>  <dd><%= @order.billing_amount - @order_information.postage %>円</dd>
	<dt>送料</dt>  <dd><%= @order_information.postage %>円</dd>
	<dt>請求合計金額</dt>  <dd><%= @order.billing_amount %>円</dd>
</dl>
</div>
</div>